<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>proxy-config-transcript.txt</string>
		</array>
		<array>
			<string>proxy-config.md</string>
		</array>
		<array>
			<string>proxy-configuration-testing-transcript.txt</string>
		</array>
		<array>
			<string>proxy-install-lab.md</string>
		</array>
		<array>
			<string>proxy-install-transcript.txt</string>
		</array>
		<array>
			<string>proxy-validation-transcript.txt</string>
		</array>
	</array>
</dict>
</plist>
